#about_page {
    margin-top: 60px;
}

#about_page h2 {
    font-family: sanitarium, monospace;
    color: yellow;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#about_page a {
    color: yellow;
}

#text {
    font-size: 1.2em;
}

#text h2 {
    font-size: 3.0em;
    margin-top: 0px;
    padding-top: 0px;
}

#list {
    margin-top: 0px;
    padding-top: 0px;
}

.indent {
    margin-left: 50px;
    padding-top: 0px;
}

li {
    padding-top: 13px;
}

#bonus_div {
    background: url("/images/bg_blue.png") center top repeat;
    border: 5px solid #1478f1;

    border-radius: 10px;
    /*border: 5px solid #de0052;
    background: url("/images/bg_pink.png") center top repeat;
    */
    text-align: center;
    margin-top: 40px;
    padding: 5px 5px 5px 5px;
    font-size: 1.2em;
}

#bonus_div h2 {
    text-align: center;
    font-size: 2.0em;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: 5px 5px 5px black;
}

#bonus_div form {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#bonus_div #submit {
    margin-bottom: 10px;
    background-color: transparent;
    border: 0px;

    font-family: sanitarium, monospace;
    color: yellow;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
    cursor: pointer;
}

#about_page input[type="text"] {
    font-size: 1.0em;
    text-align: center;
    width: 95%;
    background: url("/images/bg_blue.png") center top repeat;
    color: yellow;
    text-shadow: 2px 2px 2px black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
