#account_page {
    margin-top: 60px;
    font-size: 1.2em;
}

#account_page h2 {
    font-family: sanitarium, monospace;
    font-size: 2.5em;
    color: yellow;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

hr {
    width: 230px;
    height: 2px;
    margin-bottom: 0px;
    background-color: #1478f1;
}

table {
    margin-bottom: 0px;
}

#update {
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="text"] {
    background: url("/images/bg_dark.png") center top repeat;
    font-size: 1.2em;
    color: yellow;
    width: 300px;
}

#troupe_name {
    width: 200px;
}

#l {
    margin-left: 175px;
}

#switch {
    height: 30px;
    cursor: pointer;
}

#twitter {
    text-align: right;
}

#ranking {
    margin-top: 90px;
    background: url("/images/bg_blue.png") center top repeat;
    border: 5px solid #1478f1;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#ranking h2, #scorebox h2 {
    font-size: 2.0em;
}

#ranking p {
    margin-left: 20px;
    text-indent: 0px;
    font-size: 1.5em;
}

#scorebox {
    text-align: center;
    border-radius: 20px;
    /*
    background: url("/images/bg_blue.png") center top repeat;
    border: 5px solid #1478f1;
    */
    border: 5px solid #de0052;
    background: url("/images/bg_pink.png") center top repeat;
    margin-left: 35px;
    margin-top: 170px;
}

#score {
    margin-bottom: 15px;
    font-size: 2.9em;
}

#account_page img:hover {
    cursor: pointer;
    border: none;
}

#welcome_img {
    height: 70px;
    border: none;
}

#first_account_page {
    margin-top: 60px;
    font-size: 1.4em;
    text-align: center;
}

#first_account_page h2 {   
    font-family: sanitarium, monospace;
    font-size: 4em;
    color: yellow;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#first {
    text-align: center;
}

#first_twitter {
    margin-top: 10px;
}

#save {
    font-size: 3em;
    border: none;
    margin-top: 10px;
}

#save img {
    height: 50px;
}
#save img:hover {
    cursor: pointer;
}
