#account_page {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    float: left;
}

#left_panel {
    float: left;
    width: 45%;
    height: 100%;
    margin-top: 2%;
}

#your_troupe p {
    margin-top: 3px;
    margin-bottom: 3px;
}

#your_troupe #r, #l {
    margin-top: 19px;
}

#your_troupe #l {
    margin-left: 175px;
}

#ranking {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-top: 10%;

    background: url("/images/bg_blue.png") center top repeat;

    border: 5px solid #1478f1;
    border-radius: 20px;
    /* background-color: #0e53a7; */
}

#ranking h2, #scorebox h2 {
    font-size: 2.0em;
}

#ranking p {
    margin-left: 20px;
}

#scorebox {
    float: left;
    text-align: center;
    
    border-radius: 20px;
    border: 5px solid #de0052;
    background: url("/images/bg_pink.png") center top repeat;
    
    width: 15%;
    height: 90%;
    margin-left: 5%;
    margin-top: 16%;
    /* background-color: #8b0034; */
}

#score {
    margin-bottom: 15px;
    font-size: 2.9em;
}

input[type="text"] {
    background: url("/images/bg_dark.png") center top repeat;
    font-size: 1.2em;
    color: #ffe900;
    width: 300px;
}

#first_name, #last_name {
    margin-left: 50px;
}

#troupe_form {
    width: 100%;
    float: left;
}

#switch {
    float: right;
    height: 30px;
    margin-top: 4px;
    margin-right: 45px;
}

#account_page img:hover {
    cursor: pointer;
    border: none;
}

#update {
    margin-left: 40%;
    height: 30px;
}

#first_account_page {
    width: 100%;

}

#welcome_img {
    height: 70px;
    margin-top: 5%;
    margin-left: 38%;
    border: none;
}

#first_account_form {
    margin-left: 30%;
}

#first_account_page p {
    text-align: center;
}

#save {
    font-size: 4.0em;
    margin-left: 43%;
    border: none;
}
