body {
    color: yellow;
    background: #251f21 url("/images/bg_dark.png") center top repeat;
    font-family: Helvetica, Arial;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-shadow: 2px 2px 2px black;
}

#footer_l {
    font-size: 0.7em;
    position: fixed;
    bottom: 1%;
    left: 1%;
}

#footer_r {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

a {
    color: yellow;
    text-decoration: none;
}

#side_logo {
    position: fixed;
    right: 0%;
    bottom: 0%;
    height: 400px;
}

#logo {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 300px;
}

#content {
    float: left;
    height: 100%;
    width: 100%;
}

#login { 
    float: left;
    width: 40%;
    right: 12%;
}

#login img {
    border: none;
    height: 150px;
    margin-top: 35%;
    margin-right: 5%;
}

#login img:hover {
    border: none;
    cursor: pointer;
}

#text {
    float: left;
    width: 60%;
    margin-top: 20%;
}
#motto {
    position: fixed;
    top: 225px;
    left: 265px;
}
