@font-face {
 font-family: sanitarium;
 src: url("/font/SanitariumBB.eot") /* EOT file for IE */
}
@font-face {
 font-family: sanitarium;
 src: url("/font/SanitariumBB.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: monaco;
 src: url("/font/MONACO.TTF") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: monaco;
 src: url("/font/MONACO.eot") /* EOT file for IE */
}

body {
    font-family: monaco, monospace;
    background: url("/images/back.png") center top repeat;
    height: 100%;
    width: 100%;
    color: yellow;
    text-shadow: 2px 2px 2px black;
}

h1, h2, h3 {
    font-family: sanitarium, monospace;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0%;
    font-size: 2.7em;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

#corner_logo {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 45px;
}

#question_img {
    position: fixed;
    top: 1%;
    right: 25%; 
    border: none;
    height: 30px;
}

#account_img {
    border: none;
    position: fixed;
    top: 1%;
    right: 15%;
    height: 30px;
}

#about_img {
    border: none;
    position: fixed;
    top: 1%;
    right: 7%;
    height: 30px;
}

#logout {
    position: fixed;
    top: 2%;
    right: 0.5%;
    height: 20px;
}

#question_img:hover, #logout:hover, #account_img:hover, #about_img:hover {
    border: none;
    box-shadow: 3px 3px 4px yellow;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

#header{
    background: url("/images/bg_dark.png") center top repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
}


#footer {
    background: url("/images/bg_dark.png") center top repeat;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 35px;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: yellow;
}

#powered_link {
    position: fixed;
    right: 1%;
    bottom: 2%;
    font-size: 0.8em;
}

#challenge_link { 
    position: fixed;
    width: 80%;
    left: 1%;
    bottom: 1%;
    font-size: 0.8em;
}

#challenge_link img {
    border: none;
    position: fixed;
    bottom: 1%;
    height: 4%;
}

#challenge_link form {
}

#challenge_link img:hover {
    border: none;
    cursor: pointer;
}

#invite {
    width: 20%;
    background: url("/images/bg_dark.png") center top repeat;

    color: yellow;
    font-size: 1.0em;
}

button { 
    margin-bottom: 10px;
    background-color: transparent;
    border: 0px;

    font-family: sanitarium, monospace;
    font-size: 1.5em;
    color: yellow;
    text-shadow: 5px 5px 5px black;
}
