@font-face {
 font-family: sanitarium;
 src: url("/font/SanitariumBB.eot") /* EOT file for IE */
}
@font-face {
 font-family: sanitarium;
 src: url("/font/SanitariumBB.ttf") /* TTF file for CSS3 browsers */
}

html, body, #content {
    font-family: Helvetica, Arial;
    background: #4D4242 url("/images/back.png") center top repeat;
    height: 100%;
    width: 100%;
    color: yellow;
    text-shadow: 2px 2px 2px black;
}

h1, h2, h3 {
    font-family: sanitarium, monospace;
    color: yellow;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0%;
    font-size: 2.7em;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    color: yellow;
}

a {
    color: yellow;
    text-decoration: none;

}

button { 
    background-color: transparent;
    border: 0px;

    font-family: sanitarium, monospace;
    font-size: 1.5em;
    color: yellow;
    text-shadow: 5px 5px 5px black;
}
ul#nav_bar {
    float: right;
    margin-top: 7px;
    margin-bottom: 0px;
}
ul#nav_bar>li {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
}

ul#nav_bar>li>a {
    font-family: sanitarium;
    font-size: 30px;
    text-decoration: none;
}

#nav_bar img {
    height: 30px;
}

#nav_bar img:hover {
    border: none;
    box-shadow: 3px 3px 4px #1478f1;
}

#corner_logo {
    position: fixed;
    top: 0%;
    left: 10px;
    height: 42px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

#header{
    min-width: 960px;
    background: url("/images/bg_dark.png") center top repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#footer {
    min-width: 960px;
    background: url("/images/bg_dark.png") center top repeat;
    position: fixed;
    bottom: 0px;
    left: 150px;
    right: 150px;
    height: 35px;
    font-size: 1.0em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#footer a {
    text-decoration: none;
    color: yellow;
}

#powered_link {
    position: fixed;
    right: 170px;
    bottom: 8px;
}

#challenge_link { 
    position: fixed;
    left: 170px;
    bottom: 6px;
}

#challenge_link form {
}

#challenge_link img {
    height: 25px;
    bottom: 0px;
    margin-bottom: -5px;
}

#challenge_link img:hover {
    border: none;
    cursor: pointer;
}

#invite {
    width: 200px;
    background: url("/images/bg_dark.png") center top repeat;
    font-size: 1.1em;
    color: yellow;
}

#challenge_link button {
    position: fixed;
    margin-bottom: 0px;
    left: 490px;
    bottom: 0px;
    background-color: transparent;
    border: 0px;

    font-family: sanitarium, monospace;
    font-size: 2.3em;
    color: #0e68f5;
    text-shadow: 5px 5px 5px black;
    cursor: pointer;
}

input[type="text"] {
    font-family: Helvetica, Arial;
    text-shadow: 2px 2px 2px black;
}
