#question_page {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

#question {
    margin-top: 3%;
    padding-top: 0%;
}

#answers {
    float: left;
    text-align: left;
    width: 50%;
    margin-left: 12%;
}

#lower {
    width: 100%;
    float: left;
}

#submit {
    margin-top: 3%;
    margin-bottom: 10px;
    background-color: transparent;
    border: 0px;

    font-family: sanitarium, monospace;
    font-size: 2.0em;
    color: yellow;
    text-shadow: 5px 5px 5px black;
    margin-left: 7%;
}

input[type="radio"] {
    font-size: 2.9em;
}

#cntdwn {
    float: left;
    font-family: sanitarium, monospace;
    text-align: center;
    font-size: 4.5em;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
}
