#question_page {
    font-size: 1.2em;
    text-align: center;
    margin-top: 60px;
}

#question {
    font-size: 1.7em;
    margin-bottom: 20px;
}

#cntdwn {
    font-family: sanitarium, monospace;
    text-align: center;
    font-size: 4.5em;
    margin-top: 30px;
}

#answers {
    text-align: left;
    font-size: 1.7em;
}

input[type="radio"] {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit {
    color: yellow;
    margin-top: 3%;
    margin-bottom: 10px;
    background-color: transparent;
    border: 0px;

    font-family: sanitarium, monospace;
    font-size: 2.0em;
    text-shadow: 5px 5px 5px black;
    margin-left: -75px;
    cursor: pointer;
}
