<div id="about_page">
    <div id="how_div">
        <h2>How to Play</h2>
        <div id="text">
            <ul>
                <li>Join your company's Troupe on the 'Account' page. </li>
                    Troupes are 'trivia groups'. Members of a Troupe are your competitors!<br/ >
                    Enter your company's name in the 'Troupe' box and click 'Switch'!<br />
                    Challenge co-workers, family, friends, and enemies! <br /><br />
                <li>Visit this site to answer the <u>daily</u> trivia question. </li><br />
                <li class="indent"> Answer correctly to earn 2 points.</li><br />
                <li class="indent"> Answer incorrectly to lose 1 point.</li><br />
                <li class="indent"> Question too difficult? You can 'Pass' to earn 1 point.</li><br />
                <li>Each month, the highest scorer in each Troupe wins <strong>a cut of the earnings</strong>!</li><br />
                <li><em>To get started, click on <a href="/question">Today's Question</a>!</em></li>
            </ul>
        </div>
    </div>
    
    <div id="who_div">
        <h2>Earn Bonus Points</h2>
            <p>Want to add a trivia question to the site and gain 3 points? <br /> Submit one here! </p>

            <form name="feedback_form" action="/submitFeedback" method="post">
                <p><textarea id="feedback"></textarea></p>
            </form>
            <button id="submit" onClick="submitFeedback(  );"> Submit! </button>
    </div>
</div>
