<div id="account_page">
    <div id="left_panel">
        <div>
            <div id="title"> Deets </div>
            <form name="account_form" action="/updateAccount" method="post">
                First Name: <input type="text" value="{{user.first_name|escape}}" id="first_name"></input><br />
                Last Name : <input type="text" value="{{user.last_name|escape}}" id="last_name"></input><br />
                Preferred Email: <input type="text" value="{{user.email|escape}}" id="email"></input><br />
                
                {% if daily_email %}
                    Daily Email? <input type="checkbox" checked id="daily_email"></input>
                {% else %}
                    Daily Email? <input type="checkbox" id="daily_email"></input>
                {% endif %}

            </form>
            <img id="update_img" src="/images/update.png" onClick="updateAccount( false );"> </img>
        </div>

        <br />
        <br />
        
        <div>
            <div id="title">Your Troupe</div>
            <br />
            Troupes are 'trivia groups'. <br />
            Members of a troupe are your direct competitors! <br />
            To switch to a new troupe, enter a name here. <br /><br />
            <div id="troupe_form">
                <form name="troupe_form" action="/updateTroupe" method="post">
                    Your Troupe: <input type="text" value="{{user.troupe.name|escape}}" id="troupe_name"></input>
                    <img id="switch_img" src="/images/switch.png" onClick="updateTroupe(  );"> </img>
                </form>
            </div>
        </div>
    </div>

    <div id="ranking">
        <div id="title">Troupe "{{user.troupe.name|escape}}"<br /> Top Scorers</div>
        <br />
        {% for m in troupe_mates %}
             <p>{{m|escape}} </p>
        {% endfor %}
    </div>

    <div id="scorebox">
        <div id="title">Your Score:</div>
        <div id="score">
             {{user.score|escape}} 
        </div>
    </div>

</div>
