<div id="account_page">
    <div id="left_panel">
        <div>
            <h2> Deets </h2>
            <form name="account_form" action="/updateAccount" method="post">
                First Name: <input type="text" value="{{user.first_name|escape}}" id="first_name"></input><br />
                Last Name : <input type="text" value="{{user.last_name|escape}}" id="last_name"></input><br />
                Preferred Email: <input type="text" value="{{user.email|escape}}" id="email"></input><br />
                
                {% if daily_email %}
                    Daily Email? <input type="checkbox" checked id="daily_email"></input>
                {% else %}
                    Daily Email? <input type="checkbox" id="daily_email"></input>
                {% endif %}

            </form>
            <button id="update" onClick="updateAccount( false );"> Update! </button>
        </div>

        <br />
        <br />
        
        <div id="your_troupe">
            <h2>Your Troupe </h2>
            <p> Members of a troupe are your direct competitors!</p>
            <p>Enter your company's name and click 'Switch'!</p>
            <p id="r">Challenge your co-workers -</p>
            <p id="l">Discuss trivia around the water cooler!</p>
            <br />
            <div id="troupe_form">
                <form name="troupe_form" action="/updateTroupe" method="post">
                    Your Troupe: <input type="text" value="{{user.troupe.name|escape}}" id="troupe_name"></input>
                    <button id="switch" onClick="updateTroupe( );"> Switch! </button>
                </form>
            </div>
        </div>
    </div>

    <div id="ranking">
        <h2>Troupe "{{user.troupe.name|escape}}"<br /> Top Scorers</h2>
        {% for m in troupe_mates %}
             <p>{{m|escape}} </p>
        {% endfor %}
    </div>

    <div id="scorebox">
        <h2>Your Score</h2>
        <div id="score">
             {{user.score|escape}} 
        </div>
    </div>

</div>
