<html>
    <head>
        <title>Trivbot</title>
        <link rel="stylesheet" href="css/landing.css" />
    </head>
    <body>

        <div id="content">
            <div id="motto">
                social trivia
            </div>
            <div id="text">
                <h1> Battle for Ultimate <br />Intelligence Supremacy </h1>
                <h2> Earn Sweet Bank </h2>
                <h3> Daily trivia delivered direct to your inbox</h3>
            </div>

            <div id="login">
                <a href={{LOGIN_URL|escape}}><img src="/images/play2.png"> </img></a>
            </div>

        </div>
        <img id="logo" src="/images/logo_bot5.png"> </img>
        <img id="side_logo" src="/images/question_grey.png"> </img>
        
        <div id="footer">
            <a href="http://www.getwillet.com">Powered By Willet</a>
        </div>
    </body>
</html>
