<html>
    <head>
        <title>Trivbot</title>
        <link rel="stylesheet" href="css/landing.css" />
        
        <meta name="description" content="TrivBot - Daily Social Trivia" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <meta name="keywords" content="trivia, daily trivia, daily trivia questions, email trivia, trivbot,
        triviabot, triv bot, trivia bot, trivia robot, weekly trivia, monthly trivia, social trivia" />
        
        <script src="http://www.getwillet.com/dynamic/js/willet.js" type="text/javascript"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23344375-4']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>

        <div id="content">
            <div id="motto">
                social trivia
            </div>
            <div id="text">
                <br />
                <br />
                <h1> Battle for Ultimate <br />Intelligence Supremacy </h1>
                <h3> Daily trivia delivered direct to your inbox</h3>
                <h3>Monthly winners earn $$</h3>
            </div>

            <div id="login">
                <a onClick="willet({ id: 'a8cc4a7bb9557b49', open_in: 'new' });" href="#"> <img src="/images/play2.png"> </img></a>
                <noscript> Please enable Javascript to access TrivBot. </noscript>
            </div>

        </div>
        <img id="logo" src="/images/logo_bot5.png"> </img>
        
        <div id="footer_l">    
            Play on the go! Load me up on your smartphone!
        </div>
        <div id="footer_r">
            <a href="http://www.getwillet.com">Powered By Willet</a>
        </div>
    </body>
</html>
