<div id="question_page" class="prepend-top last">
    <div class="container">
        <center>
            <h2 id="today" class="span-24 last"> {{TODAY|escape|escape}} </h2>

            <div id="question" class="last">
                {{q.question|escape}}
            </div>

            <div id="cntdwn" class="prepend-2 span-4 append-2">
                Ready ... GO!
            </div>

            <div id="answers" class="prepend-2 span-12 last">
                <form id="question_form" action="/answerQuestion" method="post">
                    <p><input type="radio" name="q1" id="one" value="{{q.opt_1|escape}}"></input><label for="one">{{q.opt_1|escape}}</label></p>
                    <p><input type="radio" name="q1" id="two" value="{{q.opt_2|escape}}"></input><label for="two">{{q.opt_2|escape}}</label></p>
                    <p><input type="radio" name="q1" id="three" value="{{q.opt_3|escape}}"></input><label for="three">{{q.opt_3|escape}}</label></p>
                    <p><input type="radio" name="q1" id="four" value="{{q.opt_4|escape}}"></input><label for="four">{{q.opt_4|escape}}</label></p>
                    <p><input type="radio" name="q1" id="pass" value="{{PASS|escape}}" checked></input><label for="pass">PASS</label></p>
                    <p><input id="submit" type="submit" value="Submit Answer"></input></p>   
                </form>
            </div>
        </center>
    </div>
</div>
