<div id="willet_page">
    
    <div id="left">
        Are you ready for <br /><br /> today's question?
    </div>
    
    <div id="iframe_middle">
        <iframe id='willet-iframe' onload="willet.embed('{{offer_id|escape}}');" frameBorder="0" width="435" height="315" 
        style='display:block; margin:10px auto;' src=''></iframe> 
    </div>
    
    <div id="right">
        Add 5&#162; to your <br /><br /> troupe's monthly tally!
    </div>

    <div id="bottom">
        <u>Remember</u>: No one likes a cheater! Don't use Google!
    </div>
</div>
